:root {
    --white: #fff;
    --translucent-white: #d7ccc0;
    --light: #f5f4f0;
    --main: #FE8A02;
    --main-dark: #42413c;
    --dark: #2a2626;
    --translucent-dark: #908d8b;
    --brown: #b09a81;
    --blue: #1085c5;
    --font-size: 16px;
    --line-height: 1.6em;
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf)
}

@font-face {
    font-family: "Neucha";
    src: url(../fonts/Neucha-Regular.ttf);
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2em;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 52px;
}

h3 {
    font-size:  34px;
}

/* SECTION 1 */
.header-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
    
.header::before {
    position: absolute;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--light);
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0.1;
}
    
.h1-header {
    position: relative;
    z-index: 1;
    font-family: "Neucha";
}
    
.orange {
    color: var(--main);
}
    
.black {
    color: var(--dark);
}
    
body {
    height: 100%;
    margin: 0;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 1.6em;
}
    
.main-img {
    position: absolute;
    height: 525px;
    top: 55px;
    left: 700px;
}

.txt-header {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 30px;
    padding-left: 520px;
    padding-top: 70px;
}
    
.colum-left {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
    
.colum-right {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
    
.button-header-section {
    background-color: var(--main);
    width: 150px;
    height: 50px;
    border: none;
    color: white;
    font-family: "Open Sans";
    font-weight: 700;
    margin-left: 700px;
    margin-top: 30px;
}
/* VIDEO-SECTION */
.video-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.width-1110px {
    width: 1110px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.width-1110px-video {
    width: 1110px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.h2-video {
    font-family: "Neucha";
}

.h2-video-black {
    color: var(--dark)
}

.h2-video-orange {
    color: var(--main)
}

.p-video {
    font-family: "Open Sans";
}

.video {
    margin-top: 30px;
    filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
    position: relative;
    border: 0;
}

/* FIVE-DISTROTION-SECTION */

.five-distortion {
    background-color: var(--main-dark);
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.five-distortion-orange {
    color: var(--main)
}

.five-distortion-white {
    color: var(--white);
}

.card-h2 {
    font-family: "Neucha";
    font-size: 52px;
    width: 350px;
    height: 350px;
}

nav {
    width: 350px;
    height: 350px;
    background-color: var(--light);
    margin-bottom: 20px;
}

.h1_black {
    color: var(--main-dark);
    font-size: 64px;
    line-height: 1;
    font-family: "Neucha";
    margin-bottom: 40px;
}

.h3-orange {
    color: var(--main);
    font-family: "Neucha";
}

.p-five-distortion {
    color: var(--dark);
    font-family: "Open Sans";
    font-size: 16px;
}

.width-1110px-five-distortion {
    max-width: 1110px;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
}
.div-card {
    padding: 24px 24px 24px 24px;
}
